[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "OSC"]
	path = OSC
	url = http://github.com/CNMAT/OSC
[submodule "ESP32Encoder"]
	path = ESP32Encoder
	url = https://github.com/madhephaestus/ESP32Encoder
